<h6>PHOTOS</h6>
<div class='photos'>
  <div class="photo1">
      <%= image_tag"gallery-09.jpg" %>
      <div class="photo11" >
        <%= image_tag"gallery-04.jpg" %>
        <%= image_tag"gallery-05.jpg" %>
      </div>
 </div>
 <div class="photo2">
      <%= image_tag"gallery-08.jpg" %>
      <%= image_tag"gallery-07.jpg" %>
      <%= image_tag"gallery-06.jpg" %>
    </div>
    <div class="photo3">
      <%= image_tag "gallery-03.jpg" %>
      <%= image_tag"gallery-01.jpg" %>
      <%= image_tag"gallery-02" %>
      <%= image_tag"gallery-10.jpg" %>
  </div>
</div>
